<html>
    <head>
        <title>HOW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://cdn.pixabay.com/photo/2013/07/12/17/54/riot-152591_960_720.png">
    <!--- Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--- Materialize --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--- Font Awesome --->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--- Static --->
        <script src="static/js/app.js"></script>
        <link rel="stylesheet" href="static/css/custom.css">

    </head>

    <body>
      <nav class=" hide-on-med-and-down">
        <div class="nav-wrapper ">
          <a href="home.html" class="logo-icon"><img style=" width:120px; height:120px; margin-top: 3px;"src="/static/img/logo-vector.jpg"></img></a>

          <ul style="font-size: 12px; padding-right:90px;"  id="nav-mobile" class="right hide-on-med-and-down navlinks">
            <li class="navlinks"><a href="home.html" style="font-size: 12px;" >HOME</a></li>
            <li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>
            <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
            <!-- <li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li> -->
            <li class="navlinks"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
          </ul>
        </div>

      </nav>
      <!--  Mobile -->
      <nav >
        <div style="padding-top: 10px;"class="nav-wrapper hide-on-large-only">
          <a href="{% url 'home' %}" class="logo-icon"><img style=" width:80px; height:80px; margin-top: 3px;"src="/static/img/logo-vector.jpg"></img></a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
            </div>
          </a>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li class="navlinks"><a href="home.html" style="font-size: 12px;" >HOME</a></li>
        <li   class="navlinks"><a href="portfolio.html" style="font-size: 12px;" >PORTFOLIO</a></li>
        <li class="navlinks"><a href="services.html" style="font-size: 12px;">SERVICES</a></li>
         <!--<li class="navlinks"><a href="{% url 'home' %}" style="font-size: 12px;">MERCH</a></li>-->
        <li class="navlinks"><a href="contact.html" style="font-size: 12px;">CONTACT</a></li>
      </ul>
      </br>

    <!--- Header --->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 text-center " style="margin-top:40px;">
                    <h5 class="text-center" style="font-weight: 800; font-style: italic;" >Quality. Work.</h5>
                    <p class="text-center font-2"> Contact us about services you don't see down bellow.</p>
                    <div class="text-center"><a href="{% url 'contact' %}"><button style="font-size: 12px; font-weight: 600; font-style: none; color:white;  border-radius: 18px; background-color:#1573E9;" type="button" class=" button2 text-center btn btn-primary">Get in Contact</button></a> </div>                    </br>
                    <a  style="font-size: 12px; font-weight: 600; font-style: none; color:#1573E9;" href="contact.html"class="ho">To See More Get In Contact ></a>
              </div>

                  <div class="col-lg-7 col-xs-12">
                      <img src="/static/img/sportscar-wallpaper.jpg" class="img-fluid" alt="Responsive image">
                      <!--- <img style="width:427px; height:320px; margin-left: 100px; margin-top: 3px;"src="/static/img/vehicle-1565230815434-7874.jpg"></img> -->
                    </div>
              </div>
          </div>

    <!--- Work --->
    <div class="">
        <hr  >
         <div class="container-fluid text-center">
            <h5 class="text-center portfolio" style="font-weight: 800; font-style: italic;" >Our Services.</h5>
        </div>

    </div>
    <!-- Old Services <div class="row container">
        <div class="col text-center">
            <img src="/static/img/mysterymachine.jpg" alt="Avatar" class="grow" style="width:127px; height:96px;">
            <p class="font-service">FULL WRAPS</p>
        </div>
        <div class="col text-center">
            <img src="/static/img/Frizzle.png" alt="Avatar" class="grow"  style="width:127px; height:96px;">
            <p class="font-service">DESIGNS</p>
        </div>
        <div class="col text-center">
            <img src="/static/img/bumblebee.jpg" alt="Avatar" class="grow" style="width:127px; height:96px;">
            <p class="font-service">ACCENT WRAPS</p>
        </div>
        <div class="col text-center">
            <img src="/static/img/2015TheJetsons_Press_260115-620x413.jpg" alt="Avatar" class="grow" style="width:127px; height:96px;">
            <p class="font-service">PPF</p>
        </div>
        <div class="col text-center">
            <img src="/static/img/flinestones.png" class="grow" alt="Avatar" style="width:127px; height:96px;">
            <p class="font-service">DETAILING</p>
        </div>
    </div> -->

    <hr style="margin-bottom: 10px;">

    <!--- Services --->
    <div class="container-fluid text-center hide-on-small-only " style="padding-left: 80px; padding-right: 80px;">
      <ul class="nav nav-pills nav-fill ">
          <li class="col-lg-2 col-md-4 col-sm-4 col-4   nav-item text-center">
            <div class=" text-center">
                <div class="" >
                    <img src="/static/img/mysterymachine.jpg" alt="Avatar" class="services-img " style="width:80px; height:60px;">
                </div>
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button id="defaultOpen" class="text-center  active tablinks" onclick="openCity(event, 'fullwraps')">Full-Wrap</button>
            </div>
          </li>
          <li class="col-lg-2 col-md-4 col-sm-4 col-4    nav-item">
            <div class=" text-center">
                <img src="/static/img/Frizzle.png" alt="Avatar" class=""  style="width:80px; height:60px;">
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button class="text-center  tablinks" onclick="openCity(event, 'designs')">Designs</button>
            </div>
          </li>
          <li class="col-lg-2 col-md-4 col-sm-4 col-4    nav-item">
            <div class=" text-center">
                <img src="/static/img/transformer-cae.jpg" class="" alt="Avatar" style="width:80px; height:60px;">
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button class="text-center  tablinks" onclick="openCity(event, 'detailing')">Detailing</button>
            </div>
          </li>
          <li class="col-lg-2 col-md-4 col-sm-4 col-4    nav-item">
            <div class=" text-center">
                <img src="/static/img/2015TheJetsons_Press_260115-620x413.jpg" alt="Avatar" class="" style="width:80px; height:60px;">
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button class="text-center  tablinks" onclick="openCity(event, 'ppf')">PPF</button>
            </div>
          </li>
          <li class="col-lg-2 col-md-4 col-sm-4 col-4     nav-item">
            <div class=" text-center">
                <img src="/static/img/flinestones.png" class="" alt="Avatar" style="width:80px; height:60px;">
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button class="text-center  tablinks" onclick="openCity(event, 'accentwraps')">Accent-Wraps</button>
            </div>
          </li>
          <li class="col-lg-2 col-md-4 col-sm-4 col-4   nav-item">
            <div class=" text-center">
                <img src="/static/img/optimus-prime-head.jpg" class="" alt="Avatar" style="width:80px; height:60px;">
            </div>
            <br>
            <div class=" tab text-center" style="margin-bottom: 10px;">
                <button class="text-center  tablinks" onclick="openCity(event, 'other')">Warranty</button>
            </div>
          </li>
        </ul>
    </div>
    <!--- Services Small--->
    <div class=" text-center hide-on-med-and-up	 " style="padding-left: 0px; padding-right: 0px;">
          <div class="row" style="margin-bottom: 10px;">
              <div class="col-sm-4 col-4 text-center">
                  <div class="nav-item text-center">
                    <div class=" text-center">
                        <div class="" >
                            <img src="/static/img/mysterymachine.jpg" alt="Avatar" class="services-img " style="width:80px; height:60px;">
                        </div>
                    </div>
                    <br>
                    <div class=" tab text-center">
                        <button id="defaultOpen" class="  text-center tablinks active " onclick="openCity(event, 'fullwraps')">Full-Wrap</button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4 col-4 text-center">
                  <div class=" nav-item">
                    <div class=" text-center">
                        <img src="/static/img/Frizzle.png" alt="Avatar" class=""  style="width:80px; height:60px;">
                    </div>
                    <br>
                    <div class=" tab text-center" style="margin-bottom: 10px;">
                        <button class="text-center  tablinks" onclick="openCity(event, 'designs')">Designs</button>
                    </div>
                  </div>

              </div>
              <div class="col-sm-4 col-4">
                   <div class=" nav-item">
                    <div class=" text-center">
                        <img src="/static/img/transformer-cae.jpg" class="" alt="Avatar" style="width:80px; height:60px;">
                    </div>
                    <br>
                    <div class=" tab text-center">
                        <button class="text-center  tablinks" onclick="openCity(event, 'detailing')">Detailing</button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
           <div class="col-sm-4 col-4">
                  <div class="nav-item">
                    <div class=" text-center">
                        <img src="/static/img/2015TheJetsons_Press_260115-620x413.jpg" alt="Avatar" class="" style="width:80px; height:60px;">
                    </div>
                    <br>
                    <div class=" tab text-center">
                        <button class="text-center  tablinks" onclick="openCity(event, 'ppf')">PPF</button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4 col-4">
                   <div class="  nav-item">
                    <div class=" text-center">
                        <img src="/static/img/flinestones.png" class="" alt="Avatar" style="width:80px; height:60px;">
                    </div>
                    <br>
                    <div class=" tab text-center">
                        <button class="text-center  tablinks" onclick="openCity(event, 'accentwraps')">Accent Wraps</button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4 col-4">
                   <div class=" nav-item">
                    <div class=" text-center">
                        <img src="/static/img/optimus-prime-head.jpg" class="" alt="Avatar" style="width:80px; height:60px;">
                    </div>
                    <br>
                    <div class=" tab text-center">
                        <button class="text-center  tablinks" onclick="openCity(event, 'other')">Warranty</button>
                    </div>
                  </div>
              </div>

          </div>


    </div>
    <hr>
    <div class="container">

       <div class="tabcontent" id="designs">
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Designs.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
       <div class="tabcontent" id="detailing">
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Detailing.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
       <div class="tabcontent" id="ppf">
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Paint-Protection.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
       <div class="tabcontent" id="accentwraps">
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Accent-Wrap.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
       <div class="tabcontent" id="other">
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Warranty.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
        <div class="tabcontent " id="fullwraps" >
           <h5 class="text-center portfolio" style="font-weight: 500; font-style: italic; padding-top:20px; padding-bottom:40px;" >Full-Wraps.</h5>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
               <div class="col"></div>
           </div>
           <div class="row">
               <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>

           </div>
           <div class="row">
                <div class="col"></div>
                <div class="col">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
           </div>
       </div>
   </div>

    <!--- Footer --->
    <div>
        <!-- alt social logos
        <div class="row col-lg-3 col-md-6 col-sm-6">
                        <div class="col text-center ">
                            <ul  class="list-inline social-links2 ">
                                <li ><a  href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col  text-center ">
                            <ul class="list-inline social-links2 ">
                                <li><a  href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div> -->

        <div class="row ">
            <div class="col text-right padding-left-icon" >
                <a target="_blank" href="http://www.instagram.com/thehouseofwrap"><i class=" padding-left-icon fab fa-instagram" style="padding-left:15px; font-size:12px; color:black;"></i></a>
                <a target="_blank" href="https://www.facebook.com/House-Of-Wrap-103526507657698/?ref=br_rs"><i class="padding-left-icon fab fa-facebook-f " style="padding-left:15px; font-size:12px; color:black;"></i></a>
                <a href="tel:647-795-6275"><i class=" padding-left-icon fas fa-phone" style="padding-left:15px; font-size:12px; color:black;"></i></a>
            </div>
        </div>
        <div class="row links">
            <div class="font-1 col text-left">Newsletter</div>
            <div class="font-1 col text-center">© 2019 House of Wrap</div>
            <div class="font-1 ho col text-right"> <a href="#">CUSTOMER   SERVICE</a>   </div>
        </div>
    </div>

    </body>

    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
          });

          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
          });

        function myFunction(x) {
          x.classList.toggle("change");
        }

        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>



</html>
